<template>
    <div id="signin">
        <div class="create-form">
            <form enctype="multipart/form-data" @submit.prevent="onSubmit">
                <div class="input">
                    <label for="title">title</label>
                    <input
                            type="text"
                            id="title"
                            v-model="title">
                </div>
                <div class="input">
                    <label for="brief">Brief</label>
                    <input
                            type="text"
                            id="brief"
                            v-model="brief">
                </div>
                <div class="input">
                    <label for="discription">Discription</label>
                    <textarea
                            type="text"
                            id="discription"
                            v-model="discription"></textarea>
                </div>
                <div class="input">
                    <label for="image">image</label>
                    <input
                            type="file"
                            id="image"
                            @change="onFileChange">
                </div>
                <div class="submit">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import router from './../../router'
    export default {
        data () {
            return {
                title: '',
                brief: '',
                discription: '',
                image: '',
            }
        },
        methods: {
            onFileChange(e) {
                this.image = e.target.files[0];
            },
            onSubmit () {
                const formData = {
                    title: this.title,
                    brief: this.brief,
                    discription: this.discription,
                    image: this.image,
                    user_id: this.$store.getters.userInfo.id
                }
                console.log(formData)
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.getters.token
                axios.defaults.headers.common['Accepts'] = 'application/json'
                axios.post('/api/blogs/store',formData).then((response) => {
                    router.push('/blogs')
                })
            }
        }
    }
</script>

<style scoped>
    .create-form {
        width: 400px;
        margin: 30px auto;
        border: 1px solid #eee;
        padding: 20px;
        box-shadow: 0 2px 3px #ccc;
    }

    .input {
        margin: 10px auto;
    }

    .input label {
        display: block;
        color: #4e4e4e;
        margin-bottom: 6px;
    }

    .input input {
        font: inherit;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

    .input input:focus {
        outline: none;
        border: 1px solid #521751;
        background-color: #eee;
    }

    .submit button {
        border: 1px solid #521751;
        color: #521751;
        padding: 10px 20px;
        font: inherit;
        cursor: pointer;
    }

    .submit button:hover,
    .submit button:active {
        background-color: #521751;
        color: white;
    }

    .submit button[disabled],
    .submit button[disabled]:hover,
    .submit button[disabled]:active {
        border: 1px solid #ccc;
        background-color: transparent;
        color: #ccc;
        cursor: not-allowed;
    }
</style>