<template>
    <div id="blogs" class="blogs">
        <div class="element">
            welcome {{ user }}
        </div>
        <div class="element" v-for="blog in blogs">
            <h3>Blog :  {{ blog.id }}</h3>
            <label>title</label>
            <p>{{ blog.title }}</p>
            <label>Brief</label>
            <p>{{ blog.brief }}</p>
            <label>Discription</label>
            <p>{{ blog.discription }}</p>
            <hr>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                blogs: {},
                user: this.$store.getters.userInfo.name
            }
        },

        created: function () {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.getters.token
            axios.defaults.headers.common['Accepts'] = 'application/json'
            axios.get('/api/blogs').then((response) => {
                this.blogs = response.data.data
                console.log(this.blogs);
            })
        },
    }
</script>

<style>
    .blogs {
        width: 400px;
        margin: 30px auto;
        border: 1px solid #eee;
        padding: 20px;
        box-shadow: 0 2px 3px #ccc;
    }

    .element {
        margin: 10px auto;
    }

    .element label {
        display: block;
        color: #4e4e4e;
        margin-bottom: 6px;
    }

    .element p {
        font: inherit;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

</style>