<template>
    <header id="header">
        <nav>
            <ul>
                <li>
                    <router-link to="/signup">Sign Up</router-link>
                </li>
                <li>
                    <router-link to="/signin">Sign In</router-link>
                </li>
                <li>
                    <router-link to="/blogs">Blogs</router-link>
                </li>
                <li>
                    <router-link to="/blogs/create">Add Blog</router-link>
                </li>
                <li>
                    <router-link to="/chatBot">chat Bot</router-link>
                </li>
            </ul>
        </nav>
    </header>
</template>

<style scoped>
    #header {
        height: 56px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        background-color: #521751;
        padding: 0 20px;
    }

    .logo {
        font-weight: bold;
        color: white;
    }

    .logo a {
        text-decoration: none;
        color: white;
    }

    nav {
        height: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    li {
        margin: 0 16px;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    li a:hover,
    li a:active,
    li a.router-link-active {
        color: #fa923f;
    }
</style>